{% extends "@EasyAdmin/page/content.html.twig" %}

{# bien mettre le block content et pas body pour le dashboard #}
{% block content %}
	<h1>Bienvenue au sein de l'administration de SymRecipe</h1>
{% endblock %}
